<div ng-controller="SearchController as vm">
    <div class="wrapper">
        <div class="backimg">
            <div class="container pannel">
                <div>
                    <h1>TWITTER SEARCH</h1>
                    <a class="btn linked" ng-click="vm.scrollTo('application-form')">#SEARCH</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dynamicTabs">

        <a href="#" id="application-form"></a>
        <form flex-gt-md class="form-design">
            <div layout="vertical" layout-sm="horizontal" layout-padding layout-align="left center">
                <md-input-container>
                    <label>Tab Name</label>
                    <input ng-model="vm.tTitle">
                    <div class="hint">Name displayed for this search</div>
                </md-input-container>
                <md-input-container>
                    <label>Search (#awesome)</label>
                    <input ng-model="vm.searchObject.tContent">
                    <div class="hint">Search by multiple words</div>
                </md-input-container>
                <md-button class="md-primary" type="submit" ng-click="vm.addTab(vm.tTitle,vm.searchObject)" style="max-height: 40px; margin-top:20px; line-height: 20px;" ng-disabled="!(vm.searchObject.tContent || vm.searchObject.tExclude || vm.searchObject.tExact || vm.searchObject.fromAcc || vm.searchObject.toAcc || vm.searchObject.mention || vm.searchObject.fromDate || vm.searchObject.toDate) || !vm.tTitle" aria-label="Add New Search">Add New Search</md-button>
            </div>
            <md-button ng-click="vm.isCollapsed = !vm.isCollapsed" class="md-primary" type="submit" style="max-height: 40px; margin-top:20px; line-height: 20px;" aria-label="Advanced Options">Show Advanced Options</md-button>
            <div uib-collapse="vm.isCollapsed" class="advanced-options">
                <md-input-container>
                    <label>This exact phrase</label>
                    <input ng-model="vm.searchObject.tExact">
                    <div class="hint">Search by exact phrase</div>
                </md-input-container>
                <md-input-container>
                    <label>None of these words</label>
                    <input ng-model="vm.searchObject.tExclude">
                    <div class="hint">Exclude these words</div>
                </md-input-container>
                <md-input-container>
                    <label>From these accounts</label>
                    <input ng-model="vm.searchObject.fromAcc">
                    <div class="hint">Search tweets from theses accounts</div>
                </md-input-container>
                <md-input-container>
                    <label>To these accounts</label>
                    <input ng-model="vm.searchObject.toAcc">
                    <div class="hint">Search tweets to these accounts</div>
                </md-input-container>
                <md-input-container>
                    <label>Mentioning these accounts</label>
                    <input ng-model="vm.searchObject.mention">
                    <div class="hint">Search tweets mentioning these accounts</div>
                </md-input-container>
                <div class="date-container">
                    <label>From</label>
                    <md-datepicker ng-model="vm.searchObject.fromDate" md-max-date="vm.searchObject.toDate" md-placeholder="Tweets from"></md-datepicker>
                    <label style="margin-left: 10px">To</label>
                    <md-datepicker ng-model="vm.searchObject.toDate" md-max-date="vm.searchObject.fromDate" md-placeholder="Tweets until"></md-datepicker>
                </div>
            </div>
        </form>

        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom class="tab-color">
            <md-tab ng-repeat="tab in tabs" md-on-select="onTabSelected(tab)" label="{{tab.title}}">
                <md-content class="content-background">
                    <div layout="column" layout-fill layout-align="center center">
                        <div layout="row">
                            <h1>{{tab.q}} ({{tab.totalItems}})</h1>
                        </div>
                        <div layout-gt-sm="row" style="width: 100%">
                            <div flex="20">
                                <div layout="row">
                                    <md-button aria-label="Remove" class="remove-tab md-warn md-icon-button" ng-disabled="vm.tabs.length == 1" ng-click="vm.removeTab( tab )">
                                        <md-icon md-font-icon="icon-trash"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <div flex="60"></div>
                            <div layout="row" flex="20">
                                <h4 class="md-body-2 change"><b>LIVE FEED</b></h4>
                                <md-switch ng-model="tab.liveFeed" ng-change="vm.goLive(tab.q, tab)" class="live-color md-warn" aria-label="Live feed"></md-switch>
                            </div>
                        </div>

                        <div flex class="tab-text">
                            <md-card ng-repeat="t in vm.tweets.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage)) track by $index">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div>
                                            <img ng-src="{{t.user.profile_image_url}}" class="md-card-image image-design">
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <h2>{{t.user.screen_name}}</h2>
                                            </div>
                                            <div class="col-xs-4">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div>
                                                <p class="md-body-2 gray">{{t.user.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p layout-padding>
                                    <span ng-bind-html="vm.highlight(t.text, tab.q)" class="md-body-2 darken">{{t.text}}</span>
                                </p>
                                <div layout="row" layout-padding layout-align="center center">
                                    <div flex="50" class="xcenter">
                                        <label class="xsmall">RETWEETS</label>
                                        <p class="md-body-1 blue">{{t.retweeted_status.retweet_count ? t.retweeted_status.retweet_count : 0}}</p>
                                    </div>
                                    <div flex="50" class="xcenter">
                                        <label class="xsmall">FAVORITES</label>
                                        <p class="md-body-1 blue">{{t.retweeted_status.favorite_count ? t.retweeted_status.favorite_count : 0}}</p>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center" layout-padding>
                                    <div flex>
                                        <div>
                                            <p class="md-body-2">Created at : {{t.created_at}}</p>
                                        </div>
                                    </div>
                                    <div flex="15">
                                        <div>
                                            <div layout="row" layout-align="center center">
                                                <div flex>
                                                    <md-button style="background-color: #00ACEE;" aria-label="{{t.text}}" ng-href="http://twitter.com/{{t.user.screen_name}}/status/{{t.id_str}}" class="md-fab md-mini fab-color" target="_blank">
                                                        <md-icon md-font-icon="icon-twitter4" class="icon-fab"></md-icon>
                                                    </md-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                            <ul uib-pagination ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" total-items="tab.totalItems" class="pagination-sm"></ul>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>

    </div>
</div>